Canada Perturbed by Buy America Steel Requirements for Ferry TerminalA US requirement that American steel be used to update an ferry terminal is causing some tension with Canadian officials, potentially threatening the project.FREE Download: The Monthly MMI(r) Report - covering Steel/Iron Ore markets.The terminal is on Canadian soil, in British Columbia, but the land is leased to the state of Alaska. Under a 50-year lease signed last year, the state is required to rebuild the terminal facilities and docking structure on that land.