China Cuts Bank Reserve Requirements to Stimulate Economy, Boosts CopperCopper prices rose to a 2-week high on Wednesday after top consumer China's central bank moved to add more liquidity to the economy, raising optimism about the outlook for growth.FREE Download: The Monthly MMI(r) Report - covering the Copper market.Concerns about rising copper stockpiles and uncertainty about demand, however, kept prices in check.