New NI requirements for soil sampling to come into effect in JanuaryAll grassland farms using chemical phosphorus fertilisers or phosphorus-rich manures - such as poultry litter, pig farmyard manure and digestate - will be required to undergo extra scrutiny before it can be applied to the land.
The new rules, which come into effect on January 1, 2020, will require farmers not only to carry out soil sampling to demonstrate that their land is low in phosphorus but will also require them to put together a 'fertilisation plan'.
A spokeswoman for the region's Department of Agriculture, Environment and Rural Affairs (DAERA) explained the new rules aimed to improve the use of agricultural nutrients nitrogen, phosphorus and potash.
She said this would ensure money is not wasted on any unnecessary chemical fertilisers and help to protect the environment and water quality.
Only 18% of soils analysed in Northern Ireland are at optimum fertility for pH, Phosphorus (P) and Potassium (K).
Under the new Nutrients Action Programme (NAP) 2019-2022, farmers will need to carry out a soil analysis which demonstrates that there is a crop need for phosphorus before applying chemical phosphorus fertiliser.
From January 1, 2020, a fertilisation plan must also be prepared by grassland farmers prior to the application of chemical phosphorus fertiliser, and also all farms using phosphorus-rich manure (for example, layer litter, pig farmyard manure) and anaerobic digestate.
Why sample soil?
Soil analysis can determine the fertility of soils, allowing you to plan manure, lime and fertiliser applications to maximise yield.


                            // googletag.cmd.push(function() { googletag.display('div-gpt-ad-1511797470075-0'); });
                            

Advertisement

Regular sampling will help correct this situation, allowing you to minimise wastage and nutrient loss and make full use of slurry and manure.
The best time to carry out sampling is autumn through to mid-winter (October to February).
DAERA recommends testing ground no less than three months after organic manure, lime or bagged fertiliser has been applied.
It also recommends that a single soil sample will be adequate for 4ha (10ac) in one or more fields provided they are similar soil type and have been under similar management.
Soil augers and sample bags are available from your DAERA Direct office. The service costs approximately PS9 including VAT per sample.
It represents excellent value for money as it enables you to improve your soil fertility and plan ahead.
The new rules, which come into effect on January 1, 2020, will require farmers not only to carry out soil sampling to demonstrate that their land is low in phosphorus but will also require them to put together a 'fertilisation plan'.
A spokeswoman for the region's Department of Agriculture, Environment and Rural Affairs (DAERA) explained the new rules aimed to improve the use of agricultural nutrients nitrogen, phosphorus and potash.
She said this would ensure money is not wasted on any unnecessary chemical fertilisers and help to protect the environment and water quality.
Only 18% of soils analysed in Northern Ireland are at optimum fertility for pH, Phosphorus (P) and Potassium (K).
Under the new Nutrients Action Programme (NAP) 2019-2022, farmers will need to carry out a soil analysis which demonstrates that there is a crop need for phosphorus before applying chemical phosphorus fertiliser.
From January 1, 2020, a fertilisation plan must also be prepared by grassland farmers prior to the application of chemical phosphorus fertiliser, and also all farms using phosphorus-rich manure (for example, layer litter, pig farmyard manure) and anaerobic digestate.
Why sample soil?
Soil analysis can determine the fertility of soils, allowing you to plan manure, lime and fertiliser applications to maximise yield.


                            // googletag.cmd.push(function() { googletag.display('div-gpt-ad-1511797470075-0'); });
                            

Advertisement

Regular sampling will help correct this situation, allowing you to minimise wastage and nutrient loss and make full use of slurry and manure.
The best time to carry out sampling is autumn through to mid-winter (October to February).
DAERA recommends testing ground no less than three months after organic manure, lime or bagged fertiliser has been applied.
It also recommends that a single soil sample will be adequate for 4ha (10ac) in one or more fields provided they are similar soil type and have been under similar management.
Soil augers and sample bags are available from your DAERA Direct office. The service costs approximately PS9 including VAT per sample.
It represents excellent value for money as it enables you to improve your soil fertility and plan ahead.
She said this would ensure money is not wasted on any unnecessary chemical fertilisers and help to protect the environment and water quality.
Only 18% of soils analysed in Northern Ireland are at optimum fertility for pH, Phosphorus (P) and Potassium (K).
Under the new Nutrients Action Programme (NAP) 2019-2022, farmers will need to carry out a soil analysis which demonstrates that there is a crop need for phosphorus before applying chemical phosphorus fertiliser.
From January 1, 2020, a fertilisation plan must also be prepared by grassland farmers prior to the application of chemical phosphorus fertiliser, and also all farms using phosphorus-rich manure (for example, layer litter, pig farmyard manure) and anaerobic digestate.
Why sample soil?
Soil analysis can determine the fertility of soils, allowing you to plan manure, lime and fertiliser applications to maximise yield.


                            // googletag.cmd.push(function() { googletag.display('div-gpt-ad-1511797470075-0'); });
                            

Advertisement

Regular sampling will help correct this situation, allowing you to minimise wastage and nutrient loss and make full use of slurry and manure.
The best time to carry out sampling is autumn through to mid-winter (October to February).
DAERA recommends testing ground no less than three months after organic manure, lime or bagged fertiliser has been applied.
It also recommends that a single soil sample will be adequate for 4ha (10ac) in one or more fields provided they are similar soil type and have been under similar management.
Soil augers and sample bags are available from your DAERA Direct office. The service costs approximately PS9 including VAT per sample.
It represents excellent value for money as it enables you to improve your soil fertility and plan ahead.
Only 18% of soils analysed in Northern Ireland are at optimum fertility for pH, Phosphorus (P) and Potassium (K).
Under the new Nutrients Action Programme (NAP) 2019-2022, farmers will need to carry out a soil analysis which demonstrates that there is a crop need for phosphorus before applying chemical phosphorus fertiliser.
From January 1, 2020, a fertilisation plan must also be prepared by grassland farmers prior to the application of chemical phosphorus fertiliser, and also all farms using phosphorus-rich manure (for example, layer litter, pig farmyard manure) and anaerobic digestate.
Why sample soil?
Soil analysis can determine the fertility of soils, allowing you to plan manure, lime and fertiliser applications to maximise yield.


                            // googletag.cmd.push(function() { googletag.display('div-gpt-ad-1511797470075-0'); });
                            

Advertisement

Regular sampling will help correct this situation, allowing you to minimise wastage and nutrient loss and make full use of slurry and manure.
The best time to carry out sampling is autumn through to mid-winter (October to February).
DAERA recommends testing ground no less than three months after organic manure, lime or bagged fertiliser has been applied.
It also recommends that a single soil sample will be adequate for 4ha (10ac) in one or more fields provided they are similar soil type and have been under similar management.
Soil augers and sample bags are available from your DAERA Direct office. The service costs approximately PS9 including VAT per sample.
It represents excellent value for money as it enables you to improve your soil fertility and plan ahead.
From January 1, 2020, a fertilisation plan must also be prepared by grassland farmers prior to the application of chemical phosphorus fertiliser, and also all farms using phosphorus-rich manure (for example, layer litter, pig farmyard manure) and anaerobic digestate.
Why sample soil?
Soil analysis can determine the fertility of soils, allowing you to plan manure, lime and fertiliser applications to maximise yield.


                            // googletag.cmd.push(function() { googletag.display('div-gpt-ad-1511797470075-0'); });
                            

Advertisement

Regular sampling will help correct this situation, allowing you to minimise wastage and nutrient loss and make full use of slurry and manure.
The best time to carry out sampling is autumn through to mid-winter (October to February).
DAERA recommends testing ground no less than three months after organic manure, lime or bagged fertiliser has been applied.
It also recommends that a single soil sample will be adequate for 4ha (10ac) in one or more fields provided they are similar soil type and have been under similar management.
Soil augers and sample bags are available from your DAERA Direct office. The service costs approximately PS9 including VAT per sample.
It represents excellent value for money as it enables you to improve your soil fertility and plan ahead.
Soil analysis can determine the fertility of soils, allowing you to plan manure, lime and fertiliser applications to maximise yield.


                            // googletag.cmd.push(function() { googletag.display('div-gpt-ad-1511797470075-0'); });
                            

Advertisement

Regular sampling will help correct this situation, allowing you to minimise wastage and nutrient loss and make full use of slurry and manure.
The best time to carry out sampling is autumn through to mid-winter (October to February).
DAERA recommends testing ground no less than three months after organic manure, lime or bagged fertiliser has been applied.
It also recommends that a single soil sample will be adequate for 4ha (10ac) in one or more fields provided they are similar soil type and have been under similar management.
Soil augers and sample bags are available from your DAERA Direct office. The service costs approximately PS9 including VAT per sample.
It represents excellent value for money as it enables you to improve your soil fertility and plan ahead.
Regular sampling will help correct this situation, allowing you to minimise wastage and nutrient loss and make full use of slurry and manure.
The best time to carry out sampling is autumn through to mid-winter (October to February).
DAERA recommends testing ground no less than three months after organic manure, lime or bagged fertiliser has been applied.
It also recommends that a single soil sample will be adequate for 4ha (10ac) in one or more fields provided they are similar soil type and have been under similar management.
Soil augers and sample bags are available from your DAERA Direct office. The service costs approximately PS9 including VAT per sample.
It represents excellent value for money as it enables you to improve your soil fertility and plan ahead.
The best time to carry out sampling is autumn through to mid-winter (October to February).
DAERA recommends testing ground no less than three months after organic manure, lime or bagged fertiliser has been applied.
It also recommends that a single soil sample will be adequate for 4ha (10ac) in one or more fields provided they are similar soil type and have been under similar management.
Soil augers and sample bags are available from your DAERA Direct office. The service costs approximately PS9 including VAT per sample.
It represents excellent value for money as it enables you to improve your soil fertility and plan ahead.
DAERA recommends testing ground no less than three months after organic manure, lime or bagged fertiliser has been applied.
It also recommends that a single soil sample will be adequate for 4ha (10ac) in one or more fields provided they are similar soil type and have been under similar management.
Soil augers and sample bags are available from your DAERA Direct office. The service costs approximately PS9 including VAT per sample.
It represents excellent value for money as it enables you to improve your soil fertility and plan ahead.
It also recommends that a single soil sample will be adequate for 4ha (10ac) in one or more fields provided they are similar soil type and have been under similar management.
Soil augers and sample bags are available from your DAERA Direct office. The service costs approximately PS9 including VAT per sample.
It represents excellent value for money as it enables you to improve your soil fertility and plan ahead.
Soil augers and sample bags are available from your DAERA Direct office. The service costs approximately PS9 including VAT per sample.
It represents excellent value for money as it enables you to improve your soil fertility and plan ahead.
It represents excellent value for money as it enables you to improve your soil fertility and plan ahead.
