U.S. EPA proposed biofuel blending requirements 'similar' to October plan - EPA official1 Min ReadNEW YORK (Reuters) - The U.S. Environmental Protection Agency has delivered a proposal on biofuel blending requirements for 2020 to the White House Office of Management and Budget, an EPA official said on Friday. The proposal is "similar" to a plan the agency unveiled in October, the official said. That plan has been heavily criticized by the politically powerful corn lobby, which argues it does not go far enough in addressing exemptions the agency has given to oil refiners for blending mandates. Reporting by Stephanie Kelly; editing by Grant McCoolAll quotes delayed a minimum of 15 minutes. See here for a complete list of exchanges and delays.(c) 2020 Reuters. All Rights Reserved.